.entire-page {
    background-color: white;
    height: 100vh;
}

.empty-space {
	position: static;
	height: 150px;
}

.all-content-container {
    max-width: 950px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.brew-image-container {
    display: flex;
    justify-content: center;
}

.brew-image {
    height: 50%;
    width: 100%;
    border-radius: 15px;
}

.brew-text-container {
    margin-top: 20px;
    justify-content: space-around;
    /* background-color: #f5f5f5; */
    display: flex;
    flex-direction: column;
}

.brewery-name {
    font-family: 'Germania One', cursive;
    font-size: 24px;
}

.brewery-desc {
    margin-top: 20px;
}

.brewery-site-container {
    margin-top: 20px;
}

.brewery-site-name {
    font-family: 'Germania One', cursive;
    font-size: 24px;
}

.brewery-site-name:hover {
    font-family: 'Germania One', cursive;
    font-size: 24px;
    color: #266a2e;
}


