.entire-page {
    background-color: #DE7575;
    height: 100vh;
}

.empty-space{
	position: static;
	height: 150px;
}

.all-content-container {
    display: flex;
    flex-direction: column;
    /* max-width: 75%; */
}

.brew-text-container {
    margin-top: 20px;
    justify-content: space-around;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.brewery-name {
    font-family: 'Germania One', cursive;
    font-size: 24px;
    /* text-align: center; */
}

.brew-image-container {
    display: flex;
    justify-content: center;
}

img {
    max-height: 300px;
}


