@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');


#emptyDiv {
	height: 130px;
}

#leftSide {
	width: 280px;
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
}

#leftSide img {
	width: 260px;

}

#userName {
    font-family: 'Germania One', cursive;
}