@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

#emptySpace{
	position: static;
	height: 150px;
}

.recBar {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.ant-card{
	width: 200px;
	margin-right: 5px;
	margin-left: 5px;
	z-index: 0;
}


.beerImg{
	/*height: 200px;*/
	width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.rating {
	z-index: 10;
	margin-left: 10px;
}

/*.ant-rate-star-half .ant-rate-star-first, .ant-rate-star-full .ant-rate-star-second {
	color: #266a2e;
}

.reviewed .ant-rate-star-half .ant-rate-star-first, .blah .ant-rate-star-full .ant-rate-star-second {
	color: #f0d86e;
}*/

#menu ul li a{
	visibility: hidden;
}

.active {
	visibility: visible;
}

.beerType {
	/*font-family: 'Ropa Sans', sans-serif;*/
    font-family: 'Germania One', cursive;
    margin-left: 15px;

}

#recWrapper {
	width: 95%;
	margin: 0 auto;
}